@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
    name: "dark";
    prefersdark: true;
    --color-primary: #98FF98;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #1ac90a;
}

.animated-gradient {
    background: linear-gradient(-45deg, #22c55e, #34d399, #10b981, #6ee7b7);
    background-size: 400% 400%;
    animation: gradientShift 15s ease infinite;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.custom-pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.custom-pagination .swiper-pagination-bullet {
    background: transparent;    
    padding: 6px 14px;
    border-radius: 999px;
    border: 1px solid green;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.custom-pagination .swiper-pagination-bullet:hover {
    background-color: #f0f0f0;
    border-color: #888;
}

.custom-pagination .swiper-pagination-bullet-active {
    background: linear-gradient(135deg, green, #3b8);
    color: white;
    border-color: transparent;
    box-shadow: 0px 4px 10px rgba(37, 99, 235, 0.3);
}